

*{
  margin: 0%;
  padding: 0%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('background.jpg') ; width: 100%;

}

header {
    background-color: #F5F5DC;
    text-align: center;
    color: #320D6D;
    width: 100%;
    padding: 20px;
}


#container {
    display:flex;
}

/* =========================== Beg Form ===================*/
#myform {
  margin-top: 20px;
    background-color: rgb(50, 13, 109,.8);
    padding: 20px;
    width: 110%;
    margin-left: 50px;
}


input[type=submit] {
    width: 90%;
    background-color: white;
    color: #320D6D;
    padding: 5px 15px;
    margin: 8px 0;
    
    border-radius: 4px;
    
  }

  input[type=text],input[type=number], select {
    width: 90%;
    padding: 5px 15px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;


  }
  
  label {
    color: white;
      margin-left: 70px;
  }
  /* ===========================End Form========== */

table{

background-color: rgb(50, 13, 109,.8);

border:5px white;
margin-left: 150px;
margin-top: 50px;
padding: 50px;
padding-top: 80px;
padding-bottom: 80px;
}
  
  td , th {

font-size: 20px;
background-color: white;
  }

  